.loader {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 5rem;
}

.search-page-navbar {
  text-align: right;
  position: relative;
  margin-right: 7rem;
  .back-from-search {
    font-family: "Nasa", serif;
    position: absolute;
    font-size: 20px;
    margin-left: 1rem;
    top: 0.3rem;
    cursor: pointer;
  }
}
.no-img-found {
  font-family: "Nasa", serif;
  font-size: 3.6rem;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
