// css variables

$color-primary: #6fcbb8;
$color-primary-light: #abefc7;
$color-primary-dark: #50bdc0;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

$dark-theme: rgb(25, 38, 51);

$shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);

@font-face {
  font-family: "Crimson Text", serif;
  src: url("../Assets/fonts/CrimsonText-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Nasa", serif;
  src: url("../Assets/fonts/Nasa.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px
}

body {
  font-weight: 400;
  font-size: 1.6rem;
  font-family: "Crimson Text", serif;
  color: var(--color-grey-dark-1);
  line-height: 1.6;
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
